extends layout 
 
block content 
  h1= title 
 
  - let Engineid = toShow._id 
  - let EngineType = toShow.EngineType 
  - let Cylinders = toShow.Cylinders 
  - let FuelType = toShow.FuelType
  - let Transmission = toShow.Transmission
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{Engineid} 
  - let actionid = "/resource/engines/" + Engineid 
  form(id='EngineForm', action= actionid, method="PUT") 
    div.form-group 
        label.engineAttr(for='EngineType') Engine Type 
        input#engine_type(type='text', name='EngineType', value= EngineType ) 
    div.form-group 
        label.engineAttr(for='Cylinders') Cylinders
        input#cylinders(type='number', name='Cylinders', value= Cylinders ) 
    div.form-group 
        label.engineAttr(for='FuelType') Fuel Type 
        input#fueltype(type='text', name='FuelType', value= FuelType )
    div.form-group 
        label.engineAttr(for='Transmission') Transmission 
        input#transmission(type='text', name='Transmission', value= Transmission )     
    input(type="submit") 
 
  script. 
    document.forms['EngineForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 