extends layout 
 
block content 
  h1= title 
 
  form(id='EngineForm', action="/resource/engines", method="POST") 
    div.form-group 
        label.engineAttr(for='EngineType') Engine Type 
        input#engine_type(type='text', name='EngineType') 
    div.form-group 
        label.engineAttr(for='Cylinders') Cylinders
        input#engine_cylinders(type='number', name='Cylinders') 
    div.form-group 
        label.engineAttr(for='FuelType') Fuel Type 
        input#fuel_type(type='text', name='FuelType')
    div.form-group 
        label.engineAttr(for='Transmission') Transmission
        input#engine_transmission(type='text', name='Transmission')      
    input(class="btn btn-success" type="submit") 
 
  script. 
    document.forms['EngineForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 
 