body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.engineAttr { 
  background-color: aquamarine; 
  width: 120px; 
  margin-top: 20px;
  margin-right:15px;
} 

#EngineForm {
  background-color: rgb(169, 242, 242);
}

h1 {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bolder;
}
